.event-secondary-color {
    color: ;
}

.event-secondary-one{
    color:rgb(66,34,241);
}

.event-secondary-two{
    color:rgb(66,34,241);
}
.event-secondary-three{
    color:rgb(66,34,241);
}

.event-secondary-four{
    color:rgb(66,34,241);
}
.event-secondary-five{
    color:rgb(66,34,241);
}
.event-secondary-six{
    color:rgb(66,34,241);
}